.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width:  130px;
  height: 100%;
  background-color: #f1f1f1;
  padding: 20px;
}

.sidebar button {
  margin-bottom: 10px;
  display: block;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
