.header {
    color: black;
    position: fixed;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid black;

}

.title{
    display: flex;
    font-size: 30px;
    font-weight: bolder;
    /* background-color: aqua; */
    margin: 0;
    height: 100%;
    align-items: center;
}

.logo{
    width: 80px;
    margin-left: 20px;
} 

.title-text{
    margin-left: 10px;
}

.nav {
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    /* background-color: yellow; */
}
  
.nav__list {
    display: inline-flex;
    list-style: none;
    margin: 0;
    padding: 0;
    /* background-color: green; */
}

.nav__item {
    margin-left: 10px;
    /* background-color: red; */
}

.nav__item:first-child {
    margin-left: 0;
    /* background-color: blueviolet; */
}

.nav__item a {
    color: black;
    text-decoration: none;
}

.nav__item a:hover {
    text-decoration: underline;
}
