.row1_2_content {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: #F6F6F6;
    border-radius: 10px;
}

.row1_2_contents {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}