.row1_1_content {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: #F6F6F6;
    border-radius: 10px;
}

.row1_1_content_1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    background-color: #F6F6F6;
    border-radius: 10px;
}

.row1_1_content_2 {
    background-color: #F5F5F5;
    border-radius: 10px;
    height: 100%;
}

.row1_1_title {
    margin-left: 17px;
}

.row1_1_content button {
    height: fit-content;
    border-radius: 10px;
    font-size: 10px;
    margin-top: 3px;
}

.row1_1_graph_text {
    display: flex;
    margin-left: 40px;
}

.row1_1_graph_text ul {
    font-size: 13px;
    display: inline-flex;
    gap: 30px;
}

.row1_1_graph_text ul li {
    list-style-type: circle;
}

.row1_1_graph_text ul li:nth-child(1) {
    background-color: #FAE1E1;
}

.row1_1_graph_text ul li:nth-child(2) {
    background-color: #FBB4B4;
}

.row1_1_graph_text ul li:nth-child(3) {
    background-color: #FC6C6C;
}