.row1_2_content {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: #D9D9D9;
    border-radius: 10px;
}

.row1_2_contents {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 100%;
    align-items: center;
}

.row1_2_title {
    font-weight: bold;
    font-size: 18px;
}

.row1_2_title2 {
    font-weight: bold;
    font-size: 18px;
    /* margin-left: 36px; */
}

.row1_2_time {
    margin-left: 40px;
}

.row1_2_time2 {
    margin-left: 35px;
}