.row2_2_content {
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: #F6F6F6;
    border-radius: 10px;
}

.row2_2_content_1 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid gray;
    height: 20%;
}

.row2_2_content_2 {
    display: flex;
    flex-direction: row;
    border-bottom: 4px solid gray;
    height: 45%;
}

.row2_2_content_3 {
    display: flex;
    flex-direction: column;
    height: 35%;
}

.row2_2_title {
    margin-left: 17px;
}

.row2_2_content_1_button {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
}

.row2_2_content_2 .image {
    width: 40%;
    background-color: darkgray;
}

.row2_2_content_2 .text .title1,
.title2,
.view {
    margin-left: 10px;
}

.row2_2_content_2 .title1 {
    margin-top: 4px;
}

.row2_2_content_2 .title2 {
    font-weight: bold;
}

.row2_2_content_2 .view {
    margin-top: 50px;
}

.row2_2_content_3 .line {
    display: flex;
    flex-direction: row;
    height: 50%;
    border-bottom: 1px solid gray;
}

.line .image {
    width: 25%;
    border-right: 1px solid gray;
}

.line .text {
    font-size: 15px;
}