.row3_2_content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.row3_2_content_1 {
    display: flex;
    flex-direction: row;
    height: 20%;
    justify-content: space-between;
    align-items: center;
}

.row3_2_content_2 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.row3_2_title {
    margin-left: 17px;
}

.scrollbutton {
    padding-right: 17px;
}

.row3_2_content_2 .chart {
    width: 50%;
    height: 100%;
    border: 1px solid black;
}

.row3_2_content_2 .chart_text {
    width: 50%;
    height: 100%;
    border: 1px solid black;
}

span.ant-switch-inner {
    background-color: red;
}