 .sidebar-right {
    width: 278px;
    height: 979px;
    background-color: #F5F5F5;
    border: 1px solid #ddd;
    padding: 10px;
    
}

.my-profile {
  font-size: 21px;
  font-weight: 700;
}

.below {
  right: 0;
}
/* 
  .sidebar {
    position: flex;
    top: 0;
    right: 0;
    bottom: 0;
    width: 240px;
    background-color: white;
    overflow-x: hidden;
    transition: transform 0.3s ease-in-out;
  }

  .sidebar.open {
    transform: translateX(-240px);
  }

  .sidebar-right {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 200px;
    height: 979px;
    background-color: #f2eded;
    border: 1px solid #ddd;
  }
  
  .sidebar-right img {
    margin-top: auto;
    margin-bottom: auto;
  }
   */
  
  
  
  
  

