body {
    height: 1080px;
    width: 1920px;
    margin: 0 auto;
  }
  
  .sidebar {
    /* position: fixed; */
    width:  246px;
    height: 978px;
    background-color: #f1f1f1;
    box-sizing: border-box;
    padding: 20px;
  }
  
  .sidebar button {
    margin-bottom: 10px;
    display: block;
  }
  
  @media (max-width: 768px) {
    .sidebar {
      display: none;
    }
  }