.sidebar-left-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1000px;
  height: 40px;
  color: black;
  text-decoration: none;
}

.sidebar-left-item span {
  flex: 1px;
  text-align: left;
  padding: 0px;
  font-size: 15px;
  text-align: left;
  text-decoration-line: none;
}