.sidebar-right {
    width: 200px;
    height: 979px;
    background-color: #f2eded;
    border: 1px solid #ddd;
    padding: 10px;
    transition: all 0.3s ease;

}

  .sidebar-right-item {
    flex: 1px;
    color: black;
    text-align: center;
  }
  
  .sidebar-right.open {
    width: 50px;
    padding-right: 10px;
  }
  
  
  
  
  

