.sidebar-left {
  width: 246px;
  height: 978px;
  background-color: #fff;
  border-right: 4px solid #ccc;
  margin: 0 auto;
}

.sidebar-left-item img {
  width: 20px;
  height: 20px;
  margin-right: 0;
}

.menu {
  display: fixed;
  justify-content: space-between;
  align-items: center;
  text-align: 50px;
  padding: 30px;
}