* {
    box-sizing: border-box;
  }
  body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
  }
  
  .App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .page {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .sidebar {
    position: absolute;
    right: 150px;
    width: 95px;
    height: 979px;
    background-color: #F2F2F2;
    transition: width 0.3s ease;
    padding-top: 15px;
    border-radius: 15px;
    z-index: 1;
  }
  
  .sidebar .sidebar-position {
    height: 200px;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 0px 12px;
    text-align: left;
    margin-bottom: 0;
    padding-bottom: 50px;
  }
  


  .sidebar .below {
    cursor: pointer;
    display: flex;
    padding: 10px;
    align-items: center;
    text-align: right;
    flex-direction: column;
    padding-top: 100px;
    margin-left: 150px;
  }
  
  .sidebar svg {
    color: #A6A6A6;
    min-width: 50px;
  }
  
  .sidebar span {
    width: 220px;
    height: 0;
    padding: 0 12px;
    transition: width 0.3s ease;
    color: #000000;
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .sidebar--open {
    width: 278px;
    transition: width 0.3s ease;
  }
  
  .sidebar--open .sidebar-position span {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .trigger {
    height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 12px;
  }

.todo-list {
  bottom: 0;
}
  
  